{% extends "layout.html" %}
{% block body %}
  {% if session.user_id %}
  <form action="{{ url_for('add_post_in_room', room_id=room_id) }}" method=post class=add-entry>
    <dl>
      <dt>Content:
      <dd><textarea name=content rows=5 cols=20></textarea>
      <dd><input type=submit value=Share>
    </dl>
  </form>
  {% endif %}

  <ul class=posts>
  {% for post in posts %}
    <li><h2>{{ users.find_one({"id":post.auther_id}).name }}</h2>{{ post.content|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}